.button_delete {
    background-color: red;
    color: white;
    height: 20px;
    margin: 4px 4px 0px 0px;
}

#button_delete_no {
    background-color: red;
    color: white;
    width: 40px;
}

#button_delete_yes {
    background-color: green;
    color: white;
    width: 40px;
}

.button_edit {
    margin: 4px 4px 0px 0px;
}

#button_task_create_submit {
    background-color: rgb(0, 255, 25, 0.50);
    margin: 10px auto 5px auto;
    width: 80px;
}

#button_t_delete_submit {
    display: none;
}

#button_t_update_submit {
    background-color: rgb(0, 255, 25, 0.50);
    margin: 10px auto 5px auto;
}

#calendar_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#calendar_menu {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 10px;
    width: 100%;
}

.calendar_month_day {
    background-color: rgb(255, 255, 255, 0.05);
    border: rgb(255, 255, 255, 0.65) solid 1px;
    font-size: small;
    min-height: 160px;
    overflow: hidden;
    padding: 2px;
    text-align: center;
    width: 100%;
}

.calendar_month_day_corner_top_left {
    border-top-left-radius: 10px;
}

.calendar_month_day_corner_top_right {
    border-top-right-radius: 10px;
}

.calendar_month_day_corner_bottom_left {
    border-bottom-left-radius: 10px;
}

.calendar_month_day_corner_bottom_right {
    border-bottom-right-radius: 10px;
}

.calendar_month_day_next_month {
    background-color: rgb(255, 255, 255, 0.12);
    border: black solid 1px;
    font-size: smaller;
    min-height: 90px;
    overflow: hidden;
    padding: 2px;
    width: 100%;
}

.calendar_month_day_prev_month {
    background-color: rgb(255, 255, 255, 0.12);
    border: black solid 1px;
    font-size: smaller;
    min-height: 90px;
    overflow: hidden;
    padding: 2px;
    width: 100%;
}

.calendar_month_week {
    display: flex;
    flex-direction: row;
}

#calendar_title {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#calendar_view {
    margin: auto;
    width: 95%;
}

#choose_month_go_input {
    text-decoration: underline;
    font-style: italic;
}

#choose_month_go_input:active {
    color: rgb(255, 255, 255, .75);
}

#choose_month_go_input:hover {
    color: rgb(255, 255, 255, .50);
}

#clear_find_tasks_by_text {
    text-decoration: underline;
    font-style: italic;
    display: inline;
}

#clear_find_tasks_by_text:active {
    color: rgb(255, 255, 255, .75);
}

#clear_find_tasks_by_text:hover {
    color: rgb(255, 255, 255, .50);
}

.close_confirm_container {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5px;
    margin-bottom: 10px;
    width: 100%;
}

#edit_t_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}

#form_update_t {
    width: 100%;
}

.input_field_text {
    width: 95%;
}

#menu_confirm_delete_container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
    margin-top: 15px;
    width: 100%;
}

#task_choose_one {
    text-align: center;
}

#task_choose_series {
    text-align: center;
}

#task_confirm_delete_container {
    align-items: center;
    background-color: rgb(35, 35, 35, 0.85);
    border: black 1px solid;
    box-shadow: black 2px 2px;
    display: none;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    left: 50%;               /* Centers the div horizontally */
    min-width: 400px;
    padding: 5px;
    position: fixed;         /* Locks the div in place, even when scrolling */
    top: 50%;                  /* Aligns the div at the top of the viewport */
    transform: translate(-50%, -50%); /* Offsets by 50% of its width for perfect centering */
    z-index: 1000;
}

.task_container {
    border: black 3px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 500px;
    padding: 5px;
}

#task_create_container {
    align-items: center;
    background-color: rgb(35, 35, 35, 0.85);
    border: black 1px solid;
    box-shadow: black 2px 2px;
    display: none;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    left: 50%;               /* Centers the div horizontally */
    min-width: 400px;
    padding: 5px;
    position: fixed;         /* Locks the div in place, even when scrolling */
    top: 50%;                  /* Aligns the div at the top of the viewport */
    transform: translate(-50%, -50%); /* Offsets by 50% of its width for perfect centering */
    z-index: 1000;
}

#task_create_error_message {
    align-items: center;
    background-color: red;
    color: white;
    display: none;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
    padding: 3px;
    text-align: center;
    width: 100%;
}

#task_edit_container {
    align-items: center;
    background-color: rgb(35, 35, 35, 0.85);
    border: black 1px solid;
    box-shadow: black 2px 2px;
    display: none;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    left: 50%;               /* Centers the div horizontally */
    min-width: 400px;
    padding: 5px;
    position: fixed;         /* Locks the div in place, even when scrolling */
    top: 50%;                  /* Aligns the div at the top of the viewport */
    transform: translate(-50%, -50%); /* Offsets by 50% of its width for perfect centering */
    z-index: 1000;
}

#task_edit_one {
    display: flex;
    width: 100%;
}

#task_edit_series {
    display: none;
    width: 100%;
}

.task_menu {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

#task_one_or_series {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%
}

#task_update_error_message {
    align-items: center;
    background-color: red;
    color: white;
    display: none;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
    padding: 3px;
    text-align: center;
    width: 100%;
}

#tasks_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding: 30px;
}

#tasks_menu {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: center;
    margin: 10px;
}