body {
    background-color: rgb(44, 44, 44);
    color: white;
    font-family: -apple-system, sans-serif;
    height: 100%;
    width: 100%;
}
.button {
    background-color: rgb(255, 255, 255, .50);
    border: black 1px solid;
    border-radius: 5px;
    box-shadow: white 2px 2px;
    color: white;
    cursor: pointer;
    min-width: 70px;
    padding: 3px;
    text-align: center;
    text-shadow: black 1px 1px;
    user-select: none;
}

.button:active {
    box-shadow: inset black 2px 2px;
    font-weight: bold;
}

.button_close_x {
    background-color: rgb(255, 255, 255, .50);
    border: black 1px solid;
    border-radius: 5px;
    box-shadow: white 2px 2px;
    color: white;
    cursor: pointer;
    font-size: larger;
+    padding: 4px;
    text-align: center;
    text-shadow: black 1px 1px;
    user-select: none;
    width: 15px ;
}

.button_close_x:active {
    box-shadow: inset black 2px 2px;
    font-weight: bold;
}

#button_create {
    background-color: rgb(0, 255, 25, 0.50);
}

.err_message {

}
#err_messages_container {

}
#nav {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    width: 100%;
}
#nav a {
    color: white;
    font-size: larger;
    text-decoration: none;
}
#nav a:hover {
    color: rgb(255, 255, 255, .50);
}
#nav a:active {
    color: rgb(255, 255, 255, .75);
}

.row10 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /*width: 100%;*/
}
.rrow10 {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    /*width: 100%;*/
}
.width100 {
    width: 100%;
}
