@media (min-width: 1500px) {
    body {
        font-size: small;
    }
    #nav {
        font-size: large;
        gap: 20px;
    }
}
@media (max-width: 1500px) {
    #nav {
        font-size: x-large;
        gap: 40px;
    }
}
@media (max-width: 600px) {
    body {
        font-size: x-small;
    }
    #nav {
        font-size: medium;
        gap: 10px;
    }
}

body {
    background-color: rgb(44, 44, 44);
    color: white;
    font-family: -apple-system, sans-serif;
    height: 100%;
    width: 100%;
}
.button {
    background-color: rgb(255, 255, 255, .50);
    border: black 1px solid;
    border-radius: 5px;
    box-shadow: white 2px 2px;
    color: white;
    cursor: pointer;
    /*min-width: 70px;*/
    padding: 3px;
    text-align: center;
    text-shadow: black 1px 1px;
    user-select: none;
}

.button:hover {
    background-color: rgb(255, 255, 255, .75);
}

.button:active {
    box-shadow: inset black 2px 2px;
    font-weight: bold;
}

.button_close_x {
    background-color: rgb(255, 255, 255, .50);
    border: black 1px solid;
    border-radius: 5px;
    box-shadow: white 2px 2px;
    color: white;
    cursor: pointer;
    font-size: larger;
+    padding: 4px;
    text-align: center;
    text-shadow: black 1px 1px;
    user-select: none;
    width: 20px ;
}

.button_close_x:hover {
    background-color: rgb(255, 255, 255, .75);
}

.button_close_x:active {
    box-shadow: inset black 2px 2px;
    font-weight: bold;
}

#button_create {
    background-color: rgb(0, 255, 25, 0.50);
}

#button_create:hover {
    background-color: rgb(0, 255, 25);
}

.button_delete {
    background-color: rgb(255, 0, 0, 0.50);
    color: white;
    height: 15px;
    margin: 4px 4px 0 0;
    width: 42px;
}

.button_delete:hover {
    background-color: rgb(255, 0, 0);
}

.button_edit {
    height: 15px;
    margin: 4px 4px 0 0;
    width: 42px;
}

#button_delete_no {
    background-color: rgb(255, 0, 0, 0.50);;
    color: white;
    width: 40px;
}

#button_delete_no:hover {
    background-color: rgb(255, 0, 0);
}

#button_delete_yes {
    background-color: rgb(0, 255, 0, 0.50);
    color: white;
    width: 40px;
}

#button_delete_yes:hover {
    background-color: rgb(0, 255, 0);
}

.err_message {

}
#err_messages_container {

}
#nav {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#nav a {
    color: white;
    font-size: larger;
    text-decoration: none;
}
#nav a:hover {
    color: rgb(255, 255, 255, .50);
}
#nav a:active {
    color: rgb(255, 255, 255, .75);
}

.row10 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /*width: 100%;*/
}
.rrow10 {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    /*width: 100%;*/
}
.width100 {
    width: 100%;
}
